.mainbtn{
width: 10vmax;
height: 3vmax;
background-color: #0578C8;
color: white;
border: none;
border-radius: 10px;
}
.mainbtn:hover{
    background-color: #1592da;
}
.btn{
    width: 8vmax;
height: 3vmax;
border: 1px solid rgb(42, 42, 42);
color: rgb(0, 0, 0);

border-radius: 5px;
background-color: white;
}
.btn:hover{
    transform: translateY(-2px);
    
}